@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700,800|Poppins:300,400,500,600,700");
.transition-all, .m-logo > a {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear; }

.transition-color {
  transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear; }

.transition-bg-color {
  transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear; }

/* Nunito */
/* Popins */
.m-logo {
  cursor: pointer; }
  .m-logo__sign {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color: #60d712;
    font-size: 20px;
    font-style: italic; }
  .m-logo > a {
    text-decoration: none; }
    .m-logo > a > img {
      width: 30px; }
