//Logo
@import '../ui/animation.scss';
@import '../ui/colors.scss';
@import '../ui/mixins.scss';
@import '../ui/fonts.scss';


.m-logo {
  cursor: pointer;
  &__pict{

  }
  &__sign{
    @include nunitoBold;
    color: $colorPrimary;
    font-size: 35px;
    font-style: italic;
  }
  & > a  {
    @extend .transition-all;
    text-decoration: none;
    & > img {
      width: 30px;
      @media only screen and (max-width: 767px) {

      }
      @media only screen and (max-width: 450px) {

      }
    }
  }
}

