@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700,800|Poppins:300,400,500,600,700");
.transition-all, .m-logo > a {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear; }

.transition-color {
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear; }

.transition-bg-color {
  transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear; }

/* Nunito */
/* Popins */
.m-logo {
  cursor: pointer; }
  .m-logo__sign {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    color: #fddd01;
    font-size: 35px;
    font-style: italic; }
    @media only screen and (max-width: 1199px) {
      .m-logo__sign {
        font-size: 23px; } }
    @media only screen and (max-width: 767px) {
      .m-logo__sign {
        font-size: 20px; } }
  .m-logo > a {
    text-decoration: none; }
    .m-logo > a > img {
      width: 30px; }
