@mixin transition($property, $duration, $easing: linear) {
  transition: $property $duration $easing;
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
}

.transition {
  &-all {
    @include transition(all, 0.5s, linear);
  }

  &-color {
    @include transition(color, 0.5s, linear);
  }

  &-bg-color {
    @include transition(background-color, 0.5s, linear);
  }

}