// Colors
$colorDefault: #ffffff;
$colorPrimary: #fddd01;
$colorInfo: #18a8e1;
$colorActive: #ff0033;
$colorPartnerText: #cccccc;
$colorFooter: #2c292a;
$colorBgCard: #f8f8f8;
$colorNavbar: #000000;
$colorCatalog: #bee6f2;
$shadowColor: #333333;
$colorSave: #999999;
$colorTExtButton: #fdfdfd;


