// Colors
$colorDefault: #fff;
$colorPrimary: #fddd01;
$colorSecondary: #333d4c;
$colorInfo: #2949a7;
$colorSuccess: #60d712;
$colorWarning: #feae0c;
$colorDanger: #f81e27;
$colorFocus: #6433a1;
$colorGrey: #adb1b7;
$colorGreyLight: #e5e8ef;
$colorGreyDark: #707781;
$colorInputBorderError: #ff473c;
$colorInputPrimary: #353d4c;
$colorLabelPrimary: #1e3039;
$colorFilterShadow: #263239;
$colorGreyWrap: #848990;
$colorPrimaryDark: #14181f;
$colorRegister: #337ab7;


