@import url(./fonts/fonts.css);
@import url(../../../node_modules/font-awesome/css/font-awesome.min.css);
.transition-all, .hrn-logo > a, nav .menu-item, nav .menu-item:hover:not(.focused), .content__links .content-link > a, .content__links .content-link > a:hover, footer .footer-logo > a, footer .footer-logo > a:hover, footer .footer-menu__list > li > a, footer .footer-menu__list > li > a:hover, footer .footer-icons > div > a .social-icon, footer .footer-icons > div > a .social-icon:hover, footer .general-info__list a, footer .general-info__list a:hover, button, button:hover {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear; }

.transition-color {
  transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear; }

.transition-bg-color {
  transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear; }

.transition-all, .hrn-logo > a, nav .menu-item, nav .menu-item:hover:not(.focused), .content__links .content-link > a, .content__links .content-link > a:hover, footer .footer-logo > a, footer .footer-logo > a:hover, footer .footer-menu__list > li > a, footer .footer-menu__list > li > a:hover, footer .footer-icons > div > a .social-icon, footer .footer-icons > div > a .social-icon:hover, footer .general-info__list a, footer .general-info__list a:hover, button, button:hover {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear; }

.transition-color {
  transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear; }

.transition-bg-color {
  transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear; }

.hrn-logo > a > img {
  width: 222px; }
  @media only screen and (max-width: 767px) {
    .hrn-logo > a > img {
      width: 34vw; } }
  @media only screen and (max-width: 450px) {
    .hrn-logo > a > img {
      width: 54vw; } }

body {
  font-family: 'museo_sans_cyrl500','Arial', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  overflow-x: hidden; }

::-webkit-scrollbar {
  display: none; }

.upper-nav {
  background-color: #000000;
  padding: 18px 25px 10px; }
  @media only screen and (max-width: 767px) {
    .upper-nav {
      display: flex;
      justify-content: space-between;
      padding: 12px 20px 18px; } }
  @media only screen and (max-width: 767px) {
    .upper-nav .mobile-menu__show > i {
      color: #ffffff;
      font-size: 7vw; } }
  @media only screen and (max-width: 450px) {
    .upper-nav .mobile-menu__show > i {
      font-size: 10vw; } }

nav {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 15px 1px rgba(51, 51, 51, 0.3); }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    nav {
      padding: 0 30px; } }
  nav ul.items {
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 50vw; }
    @media only screen and (min-width: 992px) and (max-width: 1439px) {
      nav ul.items {
        width: auto; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      nav ul.items {
        padding-top: 22px;
        padding-bottom: 16px;
        width: 100%;
        justify-content: space-between; } }
    @media only screen and (max-width: 767px) {
      nav ul.items {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 0 !important;
        width: calc(90% - 30px); } }
  nav .menu-item {
    padding: 30px 10px 34px;
    cursor: pointer;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; }
    nav .menu-item:hover:not(.focused) {
      opacity: .5; }
    nav .menu-item:focus {
      outline: none; }
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      nav .menu-item {
        width: 20vw; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      nav .menu-item {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 0; } }
    @media only screen and (max-width: 767px) {
      nav .menu-item {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        width: 25%;
        padding: 0; } }
    nav .menu-item__logo {
      height: auto; }
      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        nav .menu-item__logo {
          display: flex; } }
      nav .menu-item__logo > img {
        height: 50%; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        nav .menu-item__logo {
          height: 27px; }
          nav .menu-item__logo > img {
            height: 50%; } }
      @media only screen and (max-width: 767px) {
        nav .menu-item__logo {
          height: 27px; }
          nav .menu-item__logo > img {
            height: 65%; } }
    nav .menu-item__link {
      width: auto;
      color: #cccccc;
      text-transform: uppercase;
      font-size: 18px;
      padding-left: 7px; }
      @media only screen and (max-width: 1199px) {
        nav .menu-item__link {
          padding-left: 15px;
          font-size: 16px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        nav .menu-item__link {
          width: 80px;
          white-space: nowrap;
          padding-left: 10px;
          font-size: 1.4vw; } }
      @media only screen and (max-width: 767px) {
        nav .menu-item__link {
          width: 70px;
          padding-left: 0;
          font-size: 2vw;
          white-space: normal; } }
      @media only screen and (max-width: 450px) {
        nav .menu-item__link {
          width: 70px;
          font-size: 3vw;
          white-space: normal; } }

.not-active {
  cursor: pointer; }

.focused {
  position: relative;
  color: #18a8e1 !important;
  font-weight: 700; }

.items > .focused {
  position: relative; }
  .items > .focused:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #f8f8f8; }
  @media only screen and (max-width: 991px) {
    .items > .focused:after {
      bottom: -35px; } }
  @media only screen and (max-width: 991px) {
    .items > .focused:after {
      bottom: -35px; } }
  @media only screen and (max-width: 767px) {
    .items > .focused:after {
      content: '';
      position: absolute;
      left: 36%;
      bottom: -37px;
      border: 10px solid transparent;
      border-top: 10px solid #f8f8f8; } }

.content {
  text-align: center;
  padding: 0 15px; }
  .content__links {
    padding: 63px 0 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .content__links {
        padding: 52px 0 62px; } }
    @media only screen and (max-width: 767px) {
      .content__links {
        text-align: center;
        padding: 15px 0 15px;
        flex-direction: column; } }
    .content__links .content-link > a {
      color: #bee6f2;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      opacity: 1; }
      .content__links .content-link > a:hover {
        opacity: .5; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .content__links .content-link > a {
          font-size: 13px;
          line-height: 19px; } }
      @media only screen and (max-width: 767px) {
        .content__links .content-link > a {
          font-size: 14px;
          line-height: 19px; } }
    .content__links_slash {
      color: #bee6f2;
      font-size: 18px;
      padding: 0 8px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .content__links_slash {
          font-size: 24px; } }
      @media only screen and (max-width: 767px) {
        .content__links_slash {
          display: none; } }
  .content__description {
    font-family: 'museo_sans_cyrl300','Arial', sans-serif;
    width: 40vw;
    padding: 54px 0 50px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    color: #2c292a;
    line-height: 1.86; }
    @media only screen and (max-width: 767px) {
      .content__description {
        width: 100%; } }
  .content .active-link, .content .active-link > a {
    font-family: 'museo_sans_cyrl900','Arial', sans-serif;
    color: #18a8e1; }
  .content .active-link > a {
    display: flex;
    justify-content: center;
    align-items: center; }
  .content .link-logo {
    padding: 0 8px;
    position: relative;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 767px) {
      .content .link-logo {
        flex-direction: row; } }
    .content .link-logo > span > img {
      margin: 0 3px;
      width: 20px; }
    .content .link-logo .link-logo-data {
      position: relative;
      display: flex;
      flex-direction: column;
      bottom: 2px;
      padding-left: 5px; }
      .content .link-logo .link-logo-data > span > img {
        width: 32px; }
      @media only screen and (max-width: 767px) {
        .content .link-logo .link-logo-data {
          padding-left: 0;
          flex-direction: row;
          align-items: center; }
          .content .link-logo .link-logo-data > span > img {
            width: 42px; } }

.tickets-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px; }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .tickets-list {
      padding-bottom: 30px;
      flex-wrap: wrap;
      align-items: flex-end; } }
  @media only screen and (max-width: 767px) {
    .tickets-list {
      flex-direction: column;
      padding-bottom: 0; } }

.ticket {
  position: relative;
  padding: 15px 1px 155px;
  width: 366px;
  margin: 0 7.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px 1px rgba(115, 115, 115, 0.3); }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .ticket {
      width: 40%;
      margin-bottom: 15px; } }
  @media only screen and (max-width: 767px) {
    .ticket {
      width: 100%;
      margin: 0 0 30px;
      padding-bottom: 65px; } }
  .ticket__popular {
    position: absolute;
    top: 15px;
    width: 100%;
    color: #ff0033;
    text-transform: uppercase;
    font-size: 20px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .ticket__popular {
        font-size: 17px; } }
    @media only screen and (max-width: 767px) {
      .ticket__popular {
        font-size: 16px; } }
  .ticket__info {
    font-family: 'museo_sans_cyrl900','Arial', sans-serif;
    font-size: 20px;
    color: #18a8e1;
    text-transform: uppercase; }
    @media only screen and (min-width: 1199px) and (max-width: 1440px) {
      .ticket__info {
        letter-spacing: -1px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .ticket__info {
        white-space: nowrap;
        font-size: 17px; } }
    @media only screen and (max-width: 767px) {
      .ticket__info {
        font-size: 16px; } }
  .ticket__amount {
    padding-top: 25px;
    color: #18a8e1;
    font-family: 'museo_sans_cyrl700','Arial', sans-serif;
    font-size: 60px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .ticket__amount {
        padding-top: 10px;
        font-size: 50px; } }
    @media only screen and (max-width: 767px) {
      .ticket__amount {
        padding-top: 5px;
        font-size: 46px; } }
  .ticket__save {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #999999;
    font-size: 14px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .ticket__save {
        padding-top: 5px;
        padding-bottom: 0; } }
    @media only screen and (max-width: 767px) {
      .ticket__save {
        padding-top: 8px;
        font-size: 10px;
        padding-bottom: 1px; } }
  .ticket__typing {
    margin-left: 20px;
    margin-right: 20px; }
  .ticket__date {
    color: #18a8e1;
    font-size: 18px;
    padding-bottom: 50px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .ticket__date {
        padding-bottom: 22px; } }
    @media only screen and (max-width: 767px) {
      .ticket__date {
        font-size: 13px;
        padding-bottom: 22px; } }
  @media only screen and (max-width: 767px) {
    .ticket .date-active {
      padding-bottom: 42px; } }
  .ticket__list {
    text-align: left;
    padding: 0 35px 0 58px; }
    @media only screen and (max-width: 1199px) {
      .ticket__list {
        padding: 0 20px; } }
    .ticket__list_item {
      position: relative;
      display: flex;
      padding-bottom: 20px; }
    .ticket__list .ticket-dot {
      position: relative;
      top: -2px;
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: #18a8e1;
      border-radius: 50%;
      margin: 0 12px 0 0; }
    .ticket__list .ticket-sign {
      font-family: 'museo_sans_cyrl300','Arial', sans-serif;
      color: #2c292a;
      line-height: 19px; }
  .ticket__book {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #18a8e1; }
    .ticket__book .ticket-btn {
      font-family: 'museo_sans_cyrl900','Arial', sans-serif;
      width: 100%;
      padding: 23px 0;
      background-color: #18a8e1;
      color: #fdfdfd;
      font-size: 20px;
      text-transform: uppercase;
      border: 1px solid #18a8e1;
      cursor: pointer; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .ticket__book .ticket-btn {
          font-size: 15px;
          padding: 13px 0; } }
      @media only screen and (max-width: 767px) {
        .ticket__book .ticket-btn {
          font-size: 15px;
          padding: 13px 0; } }
    .ticket__book .active-btn {
      background-color: #ff0033 !important;
      border: 1px solid #ff0033 !important; }

.ticket-enlarged {
  padding-top: 36px;
  padding-bottom: 175px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .ticket-enlarged {
      padding-top: 45px; } }
  @media only screen and (max-width: 767px) {
    .ticket-enlarged {
      padding-bottom: 65px; } }

.success-btn {
  font-family: 'museo_sans_cyrl900','Arial', sans-serif;
  border: 1px solid #18a8e1;
  color: #18a8e1;
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .success-btn {
      font-size: 16px; } }

.sm-btn {
  width: 200px;
  height: 40px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .sm-btn {
      width: 250px;
      height: 55px; } }

.partners {
  padding-top: 145px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .partners {
      padding: 77px 75px 0; } }
  @media only screen and (max-width: 767px) {
    .partners {
      padding-top: 56px; } }
  .partners__sign {
    font-size: 18px;
    text-transform: uppercase;
    color: #cccccc; }
    @media only screen and (max-width: 767px) {
      .partners__sign {
        font-size: 10px; } }
  .partners__section {
    display: flex; }
    @media only screen and (max-width: 767px) {
      .partners__section {
        justify-content: center; }
        .partners__section:nth-of-type(1) {
          padding-bottom: 30px; } }
  .partners__list {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 80px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .partners__list {
        padding-top: 35px;
        padding-bottom: 52px; } }
    @media only screen and (max-width: 767px) {
      .partners__list {
        flex-direction: column;
        padding-bottom: 58px;
        align-items: center; } }
    .partners__list_logo {
      margin: 0 19px;
      width: 7vw; }
      .partners__list_logo > img {
        width: 100%; }
      @media only screen and (max-width: 1199px) {
        .partners__list_logo {
          width: 10vw; }
          .partners__list_logo > img {
            width: 100%; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .partners__list_logo {
          width: 95px; }
          .partners__list_logo > img {
            width: 100%; } }
      @media only screen and (max-width: 767px) {
        .partners__list_logo {
          margin: 0 10px;
          width: 75px; }
          .partners__list_logo > img {
            width: 100%; } }

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #2c292a;
  text-align: center; }
  footer .footer-logo > a {
    opacity: 1; }
    footer .footer-logo > a:hover {
      opacity: .5; }
  @media only screen and (max-width: 1199px) {
    footer .footer-logo > a > img {
      width: 14vw; } }
  @media only screen and (max-width: 991px) {
    footer .footer-logo > a > img {
      width: 235px; } }
  footer .footer-menu {
    padding-top: 15px; }
    footer .footer-menu__list {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding-left: 0;
      margin: 0; }
      @media only screen and (max-width: 767px) {
        footer .footer-menu__list {
          justify-content: space-between;
          max-width: 290px;
          margin: auto; } }
      footer .footer-menu__list > li {
        padding: 0 10px; }
        @media only screen and (max-width: 767px) {
          footer .footer-menu__list > li {
            padding: 0; } }
        footer .footer-menu__list > li > a {
          font-family: 'museo_sans_cyrl300','Arial', sans-serif;
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 10px;
          opacity: 1; }
          footer .footer-menu__list > li > a:hover {
            opacity: .5; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            footer .footer-menu__list > li > a {
              font-size: 14px; } }
  footer .footer-icons {
    display: flex;
    justify-content: center;
    padding-top: 10px; }
    @media only screen and (max-width: 767px) {
      footer .footer-icons {
        max-width: 290px;
        margin: auto;
        padding-top: 35px;
        justify-content: space-between; } }
    footer .footer-icons > div > a .social-icon {
      width: 40px;
      font-size: 20px;
      color: #ffffff;
      opacity: 1; }
      footer .footer-icons > div > a .social-icon:hover {
        opacity: .5; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        footer .footer-icons > div > a .social-icon {
          width: 60px; } }
      @media only screen and (max-width: 767px) {
        footer .footer-icons > div > a .social-icon {
          width: 20px; } }
  footer .general-info {
    padding-top: 25px; }
    @media only screen and (max-width: 767px) {
      footer .general-info {
        padding-top: 35px; } }
    footer .general-info__list {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      padding-top: 10px; }
      footer .general-info__list a {
        opacity: 1; }
        footer .general-info__list a:hover {
          opacity: .5; }
      @media only screen and (max-width: 767px) {
        footer .general-info__list {
          flex-direction: column;
          justify-content: center; } }
      @media only screen and (max-width: 991px) {
        footer .general-info__list > div {
          padding: 0 3px; } }
      @media only screen and (max-width: 767px) {
        footer .general-info__list > div {
          padding: 0 3px; } }
      footer .general-info__list > div a {
        font-family: 'museo_sans_cyrl300','Arial', sans-serif;
        color: #ffffff;
        text-decoration: none;
        font-size: 12px; }
    footer .general-info__conditions {
      position: relative;
      margin: 0 7px; }
      @media only screen and (max-width: 991px) {
        footer .general-info__conditions {
          margin: 0; } }
    footer .general-info .general-info-terms {
      padding: 0 7px; }
      @media only screen and (max-width: 991px) {
        footer .general-info .general-info-terms {
          padding-right: 5px;
          padding-left: 5px; } }
      @media only screen and (max-width: 767px) {
        footer .general-info .general-info-terms {
          padding-right: 5px;
          padding-left: 0; } }
    footer .general-info .streak {
      border-left: 1px solid #ffffff;
      font-size: 10px; }
  footer .general-info-policy {
    position: relative;
    padding: 0 7px; }
    @media only screen and (max-width: 991px) {
      footer .general-info-policy {
        padding-left: 5px;
        padding-right: 5px; } }
    @media only screen and (max-width: 767px) {
      footer .general-info-policy {
        padding-left: 5px;
        padding-right: 0; } }

.collapsed-card {
  padding-bottom: 45px !important; }

button {
  opacity: 1; }
  button:hover {
    opacity: .5; }
  button:focus {
    outline: none;
    opacity: 1; }

input[type="text"] {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  height: 15px;
  border: none;
  box-shadow: inset 0 0 8px #cccccc; }

input::-webkit-input-placeholder {
  color: #999999; }

input:focus {
  outline-width: 1px;
  outline-color: #bee6f2; }

[class~="hidden-content"] {
  display: none; }

@media only screen and (max-width: 767px) {
  [class~="hidden-mobile"] {
    display: none !important; } }

@media only screen and (min-width: 767px) {
  [class~="hidden-desktop"] {
    display: none !important; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class~="hidden-laptop"] {
    display: none !important; } }
