@import './colors.scss';
@import './animation.scss';
@import './mixins.scss';
@import './fonts.scss';
@import '../../../node_modules/font-awesome/css/font-awesome.min.css';

//General settings

body {
  @include nunitoRegular;

  position: relative;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

//Navbar

.nav-outer{
  padding: 0 100px;
  background: transparent;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  @extend .transition-all;

  @media only screen and (max-width: 1199px) {
    padding: 0 15px;
  }
  @media only screen and (max-width: 767px) {
    padding: 0;
  }
}

.stick-nav{
  background: rgba(255, 255, 255, .9);
  @extend .transition-all;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 200px);
  height: 100%;
  background-color: transparent;
  z-index: 16;

  @media only screen and (max-width: 1199px) {
    width: auto;
  }

  @media only screen and (max-width: 767px) {
    width: auto;
    margin: 0;
    padding: 15px 15px 0;
  }

  //Outer for navbar logo
  .nav-menu-logo{
    padding: 15px 15px 0;

    @media only screen and (max-width: 767px) {
      padding: 0;
    }
  }

  .nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    z-index: 19;

    @media only screen and (max-width: 767px) {
      justify-content: flex-start;
      padding-top: 13px;
    }
    &__show{
      & > i {
        font-size: 25px;
        color: $colorPrimary;
      }
    }
  }
  //Links
  .nav-menu-links{
    display: flex;
    &__item{
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 0 5px;


      @media only screen and (max-width: 1199px) {
        font-size: 15px;
        width: 75px;
      }

      @media only screen and (max-width: 767px) {
        justify-content: flex-start;
      }

    }
    & > div {
      & > a {
        @include popinsLight;

        color: $colorSecondary;
        white-space: nowrap;
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  //Active nav-link
  .active {
    position: relative;
    color: $colorPrimary !important;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      display: block;
      width: 100%;
      background: $colorPrimary;

    }
  }
  .side-panel{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    height: 100vh;
    width: 300px;
    background-color: rgba(53, 61, 76, 0.98);
    cursor: pointer;

    @media only screen and (max-width: 767px) {
      width: 100%;
    }

    &__close{
      padding: 25px 30px 15px;
      display: flex;
      justify-content: flex-end;
      &_icon{
        font-size: 30px;
        color: transparentize($colorDefault, .4);
      }
    }
    &__menu{
      padding: 15px 30px;
      display: flex;
      flex-direction: column;
      &_mob-links{
        @include nunitoLight;
        color: transparentize($colorDefault, .4);
        font-size: 18px;
        line-height: 40px;

      }
    }
  }
}

.to-top{
  position: fixed;
  bottom: 5%;
  right: 10%;
  color: $colorWarning;
  z-index: 50;
  cursor: pointer;
}



.navbar-nav{
  & > li {
    cursor: pointer;
  }
}

.info-title {
  @include popinsLight;
  text-align: center;
  font-size: 50px;
  color: $colorInputPrimary;
}
.info-title {
  @include popinsLight;
  text-align: center;
  font-size: 50px;
  color: $colorInputPrimary;

  @media only screen and (max-width: 767px) {
    font-size: 32px;
  }
}
.info-title-description{
  @include popinsLight;
  font-size: 24px;
  line-height: 30px;
  color: transparentize($colorInputPrimary, 0.3);

  @media only screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.version-appear {
  opacity: 0.01;
}

.version-appear.version-appear-active {
  opacity: 1;
  transition: opacity 3s ease;
}


.home-page{
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: url("../../data/background_6.jpg") no-repeat center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__sign{
    color: $colorSecondary;
    text-align: center;
    padding-top: 80vh;

    @media only screen and (max-width: 991px) {
      padding-top: 70vh;
    }

    @media only screen and (max-width: 767px) {
      padding-top: 64vh;
    }
    & > span > h1 {
      margin: 0;
      font-size: 50px;

      @media only screen and (max-width: 991px) {
        font-size: 40px;
      }

      @media only screen and (max-width: 767px) {
        font-size: 40px;
      }
    }
    & > span > h2{
      margin: 0;
      font-size: 30px;

      @media only screen and (max-width: 99px) {
        font-size: 25px;
      }
      @media only screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
  }

  &__curtain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(20, 24, 31, 0.1);
    z-index: 10;
  }
}

//Content
.content{
  .content-info {
    display: flex;
  }
  &__outer{
    background-color: transparentize($colorInputPrimary, 0.95);
  }
  &__partners {
    padding-top: 5px;
    padding-bottom: 5px;
    &_slider {
      display: flex;
      justify-content: space-between;
      & > .container {
        width: 100vw;
        display: flex;
        .arrow-company {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 5%;
          &:hover{
            opacity: .5;
          }
          @media only screen and (max-width: 767px) {
            width: 20%;
          }

          &__prev{
            & > div > img {
              transform: rotate(180deg);

              @media only screen and (max-width: 767px) {
                width: 18px;
              }
            }
          }
          &__next{
            & > div > img {
              @media only screen and (max-width: 767px) {
                width: 18px;
              }
            }
          }
        }
        & > .slick-initialized {
          width: 90%;

          @media only screen and (max-width: 767px) {
            width: 250px;
          }

          button[class~="slick-arrow"]{
            display: none !important;
          }
          & > .slick-list {
            display: flex;
            overflow-x: hidden;
            & > .slick-track {
              display: flex;
              & > .slick-slide {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                & > img {
                  width: 160px;
                }
                @media only screen and (max-width: 767px) {
                  width: 320px;
                }
              }
            }
          }
        }
      }
    }
  }

  //Slider Responds
  &__responds {
    padding-top: 40px;
    padding-bottom: 40px;
    &_sign{
      @include popinsLight;

      text-align: center;
      padding-bottom: 60px;
      font-size: 54px;
      color: $colorInputPrimary;
    }
    &_slider {
      display: flex;
      justify-content: space-between;
      & > .container {
        width: 100vw;
        display: flex;
        .arrow-respond {
          padding-top: 110px;
          cursor: pointer;
          width: 20%;
          display: flex;
          flex-direction: column;
          align-items: center;

          @media only screen and (max-width: 991px) {
            width: 15%;
          }
          &:focus{
            outline: none;
          }
          &_prev > div > img {
            transform: rotate(180deg);
          }
        }
        & > .slick-slider {
          width: 60%;

          @media only screen and (max-width: 991px) {
            width: 70%;
          }
          button[class~="slick-arrow"]{
            display: none !important;
          }

          //IMG
          .slider-content{
            text-align: center;
            &__image {
              width: 150px;
              margin: auto;
              padding: 2px;
              & > img {
                width: 150px;
                height: 135px;
                border-radius: 50%;
                user-select: none;
                -webkit-user-drag: none;
                border: 1px solid #e5e8ef;
              }
            }
            &__name{
              @include nunitoRegular;
              padding: 20px 0;
              font-size: 18px;
              color: $colorInputPrimary;
            }
            &__comment{
              width: 550px;
              margin: auto;
              font-size: 15px;
              line-height: 24px;
              color: transparentize($colorInputPrimary, 0.3);

              @media only screen and (max-width: 991px) {
                width: auto;
              }
            }
          }
          //Dots
          .slick-dots {
            @extend .transition-all;
            padding-left: 0;
            padding-top: 20px;
            margin: 0;
            display: flex !important;
            justify-content: center;
            list-style-type: none !important;
            & > li {
              display: block;
              margin: 0 8px;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: transparentize($colorSecondary, 0.8);
              & > button {
                cursor: pointer;
                opacity: 0;
                display: block;
                height: 12px;
              }
            }
            & > li.slick-active {
              display: block;
              margin: 0 8px;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: $colorPrimary;
              & > button {
                cursor: pointer;
                display: block;
                opacity: 0;
                width: 10px;
                height: 12px;
              }
            }
          }
          & > .slick-list {
            display: flex;
            overflow-x: hidden;
            & > .slick-track {
              display: flex;
            }
          }
        }
      }
    }
  }
}



//CERTIFICATES

.certificate{
  background-color: $colorInputPrimary;
  padding: 40px 0 0;

  @media only screen and (max-width: 991px) {
    padding: 40px 15px 0;
  }
  &__list {
    padding-top: 15px;
    &_slider {
      display: flex;
      justify-content: space-between;
      & > .container {
        width: 1050px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 1199px) {
          width: 90%;
        }

        @media only screen and (max-width: 991px) {
          width: 100%;
        }

        .arrow-certificate {
          cursor: pointer;
          width: 35px;
          height: 35px;
          border: 2px solid $colorGrey;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          & > i {
            padding-bottom: 3px;
            padding-left: 3px;
            font-size: 30px;
            color: $colorGrey;
          }
        }
        & > .slick-initialized {
          width: 90%;

          @media only screen and (max-width: 767px) {
            width: 80%;
          }
          button[class~="slick-arrow"]{
            display: none !important;
          }
          & > .slick-list {
            display: flex;
            overflow-x: hidden;
            & > .slick-track {
              display: flex;
              & > .slick-slide {
                display: flex;
                flex-direction: column;
                //padding-left: 200px;
                & > img {
                  width: 200px;
                }
              }
            }
          }
        }
      }
    }
  }
  &__item{
    display: flex;
    &_scan {
      width: 690px;

      @media only screen and (max-width: 1199px) {
        width: 690px;
      }
      @media only screen and (max-width: 991px) {
        width: 100%;
      }
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
      & > img {
        width: 100%;
        outline: none;
        user-select: none;

        @media only screen and (max-width: 1199px) {
          width: 100%;
        }

        @media only screen and (max-width: 991px) {
          width: 100%;
        }
        @media only screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
  &__info{
    margin-left: 30px;
    &_title{
      @include popinsLight;
      font-size: 54px;
      color: #fff;
    }
    &_about{
      @include nunitoLight;
      font-size: 24px;
      line-height: 30px;
      color: transparentize($colorDefault, .3);
    }
  }
}



button.slick-prev, button.slick-next{
  display: none !important;
}

.question{
  padding: 80px;
}


.types{
  padding: 85px 0;
  text-align: center;

  @media only screen and (max-width: 767px) {
    padding: 60px 15px 0;
  }
  .cards{
    padding-top: 50px;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 991px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    .card {
      padding: 30px 25px;
      border-radius: 4px;
      width: 280px;
      margin: 0 15px;
      border: 1px solid $colorGreyLight;
      cursor: pointer;

      @media only screen and (max-width: 991px) {
        padding: 30px 15px;
        margin: 0 5px 25px;
      }
      @media only screen and (max-width: 767px) {
        width: auto;
      }
      &__icon{
        margin-bottom: 15px;
      }
      &__main{
        @include nunitoBold;
        white-space: nowrap;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 20px;
        color: $colorSuccess;
        padding-bottom: 10px;
      }
      &__description{
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: transparentize($colorInputPrimary, 0.3);
      }
    }
  }
}


.query {
  height: 280px;
}

.charateristic{
  height: 400px;
  border: 1px solid #2b7c8b;
}

.services{
  padding-top: 80px;
  padding-bottom: 80px;
  width: 700px;
  margin: auto;

  @media only screen and (max-width: 991px) {
    width: auto;
    margin: 0;
    padding: 40px 15px;
  }

  & > .info-title-description {
    text-align: center;
  }

  &__depiction{
    padding-top: 30px;
  }
  &__content{
    padding-top: 21px;
    border-bottom: 1px solid #e5e8ef;
    @extend .transition-all;
    &_title{

    }
    &_link{
      @extend .transition-all;
      padding-bottom: 25px;
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover{
        @extend .transition-all;
        opacity: .6;
      }
      & > i:nth-of-type(1) {
        position: relative;
        bottom: 2px;
        padding-right: 15px;
      }
      & > span {
        font-size: 18px;
        line-height: 20px;
        color: #353d4c;
      }
      & > i:nth-of-type(2) {
        padding: 0 10px;
      }
    }
    &_description{
      padding: 0 30px 20px;
      @extend .transition-all;
      .collapsed-info{
        font-size: 14px;
        color: rgba(53, 61, 76, 0.7);
        line-height: 20px;
      }
    }
  }

  .icon-view{
    font-size: 22px;
    color: rgba(53, 61, 76, 0.4);
    @extend .transition-all;
  }
  .icon-view-up {
    transform: rotate(180deg);
    @extend .transition-all;
  }
}


//Footer
.footer-outer{
  .contact-us{

    @media only screen and (max-width: 767px) {
      padding-bottom: 15px;
    }
    &__logo-footer > .m-logo {
      transform: scale(0.7);
      margin-left: -35px;

      @media only screen and (max-width: 767px) {
        transform: scale(0.8);
        margin-left: -30px;
        padding-bottom: 30px;
      }
    }
    &__sign{
      color: $colorDefault;
      font-size: 22px;
      line-height: 26px;
      padding-bottom: 10px;
    }
    &__info{
      width: 900px;
      margin: auto;
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: 1199px) {
        width: 670px;
      }

      @media only screen and (max-width: 767px) {
        flex-direction: column;
        width: auto;
      }
    }
      .contact-us-info, .contact-us-info a  {
        @include nunitoLight;

        cursor: default;
        color: $colorDefault;
        line-height: 26px;
        user-select: none;
        opacity: 0.7;
        text-decoration: none;
        & > span:first-child{
          padding-right: 10px;
        }
      }
  }
}

footer {
  padding: 25px;
  background-color: $colorInputPrimary;
  .google-map{
    width: 400px;
    height: 200px;

    @media only screen and (max-width: 767px) {
      width: auto;
    }
    @media only screen and (max-width: 767px) {
      & > div > div {
        width: auto;
      }
    }
  }
  .google-m-logo{
    @include nunitoBold;

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $colorPrimary;
    border-radius: 50%;
    background-color: transparentize($colorSecondary, .5);
    color: $colorPrimary;
    & > div > i {
      font-size: 25px;
    }
  }

}

//Button
button{
  @extend .transition-all;
  opacity: 1;
  &:hover{
    @extend .transition-all;
    opacity: .5;
  }
  &:focus {
    outline: none;
    opacity: 1;
  }
}

//Input
input:focus{
  outline-width: 1px;
}

//Classes for showing/hiding elements
[class~="hidden-content"]{
  display: none !important;
}


[class~="hidden-mobile"]{
  @media only screen and (max-width: 767px) {
    display: none !important;
  }
}
[class~="hidden-desktop"]{
  @media only screen and (min-width: 767px) {
    display: none !important;
  }
}

[class~="hidden-laptop"]{
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    display: none !important;
  }
}

[data-reactid="Massage"]{
  width: 151px;
  height: 80px;
  background-color: #b277fe;
  color: #60d712;
  z-index: 10;
}

.contact-icon{
  width: 30px;
  height: auto;
}